<div class="body-container container">

  <h1>Help us match you to the <span class="blue-text">right Lawyer</span></h1>
  <mat-card>
    <div class="row progress-bar">
      <div *ngFor="let _ of [].constructor(totalPages); let i = index"
        [ngClass]="{'progress-step': true, 'active' : currentPage > i, 'inactive' : i >= currentPage}">
        <!-- <p>testing</p> -->
      </div>
    </div>
    <div class="page" *ngIf="currentPage === 1">
      <h2>What type of legal service are you looking for?</h2>
      <app-option *ngFor="let subjectMatter of lawSubjectService.lawSubjects"
        (click)="setSelectedLawSubjectMatter(subjectMatter)"
        [active]='selectedLawSubjectMatter?.subjectName === subjectMatter.subjectName'
        [buttonText]="subjectMatter.subjectName"></app-option>
    </div>

    <div class="page" *ngIf="currentPage === 2">
      <h2>Which category does your case fall under?</h2>
      <app-option *ngFor="let subjectMatterExample of selectedLawSubjectMatter?.lawSubjectMatterExamples"
        (click)="setSelectedLawSubjectMatterExample(subjectMatterExample)"
        [active]='selectedLawSubjectMatterExample?.exampleName === subjectMatterExample.exampleName'
        [buttonText]="subjectMatterExample.exampleName"></app-option>
    </div>

    <div class="page" *ngIf="currentPage === 3">
      <h2>What kind of help do you need?</h2>
      <app-option *ngFor="let legalServiceCategory of lawSubjectService.legalServiceCategories"
        (click)="setSelectedLegalServiceCategory(legalServiceCategory)"
        [active]='selectedLegalServiceCategory === legalServiceCategory' [buttonText]="legalServiceCategory">
      </app-option>
    </div>

    <div class="row">
      <button *ngIf="currentPage !== 1" mat-raised-button class="button" (click)="previous()">Previous</button>
      <button *ngIf="currentPage !== totalPages" mat-raised-button class="button" (click)="next()">Next</button>
      <button *ngIf="currentPage === totalPages" mat-raised-button color="primary" class="button"
        (click)="submit()">Proceed</button>
    </div>
  </mat-card>
</div>