<div class="body-container">

  <h1>Hi Li Xin!</h1>
  <mat-card>
    <h2>How can we assist you today?</h2>
    <div style="width: 70%;">
      <app-option (click)="selectOption(0)" [active]='selectedOption === 0' [buttonText]="'I\'m looking for a lawyer'"></app-option>
      <app-option (click)="selectOption(1)" [active]='selectedOption === 1' [buttonText]="'I\'ll like to take a look at my scheduled consultations'"></app-option>
    </div>
    <button mat-raised-button disabled="false" (click)="navigate()">Next</button>
  </mat-card>
</div>