<mat-toolbar>
  <button mat-icon-button class="icon" aria-label="Example icon-button with menu icon">
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </button>
  <span>Justice Ligue</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav class="sidenav" #sidenav mode="push" [(opened)]="opened">
    <p>Testing</p>
    <p>Testing</p>
    <p>Testing</p>
    <p>Testing</p>
    <p>Testing</p>
    <p>Testing</p>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>