<div class="body-container container">
    <h1> Here is your summary of cases</h1>
    <mat-card>
         <div class="left-profile"> 
            <p>Name</p>
            <p>Age</p>
        </div>

        <div class="right-profile">
            <mat-card-title> 
                <p> Title: Family </p>
                <p> Category: Divorce</p>
            </mat-card-title>
            <mat-card-content>
                <p>Description</p>
                <p>lawyers Remarks</p>
            </mat-card-content>
        </div>

       
        
    </mat-card>
</div>