<h1>Your Scheduled Appointments:</h1>

<div class="card">
  <div class="biggerleft">
    <div class="left">
      <div class="bar">
  
      </div>
      <div class="MonTime">
        <div class="Mon">
          <p>THURSDAY</p>
        </div>
        <div class="Date">
          <p>14</p>
        </div>
      </div>
      
      
    </div>
    <div class = leftbutbelow>
      <p>0800hrs - 1000hrs</p>
    </div>
  
  </div>

  <div class="right">
    <div class="subright"><div class="appt">
      <p>Appointment with Justice Esq.</p>
    </div>
    <div class="location">
      <p>Location: Toa Payoh Mac</p>
    </div>
  </div>

  </div>
</div>

<div class="cardd">
  <div class="'biggerleft">
    <div class="leftt">
      <div class="bar">
  
      </div>
      <div class="MonTime">
        <div class="Mon">
          <p>SATURDAY</p>
        </div>
        <div class="Date">
          <p>20</p>
        </div>
      </div>
      
      
    </div>
    <div class = leftbutbeloww>
      <p>1300hrs - 1400hrs</p>
    </div>
  
  </div>

  <div class="right">
    <div class="subright"><div class="appt">
      <p>Appointment with Li Xin Esq.</p>
    </div>
    <div class="location">
      <p>Location: Tampines Starbucks</p>
    </div>
  </div>

  </div>
</div>

<div class="cardd">
  <div class="'biggerleft">
    <div class="leftt">
      <div class="bar">
  
      </div>
      <div class="MonTime">
        <div class="Mon">
          <p>SATURDAY</p>
        </div>
        <div class="Date">
          <p>20</p>
        </div>
      </div>
      
      
    </div>
    <div class = leftbutbeloww>
      <p>1300hrs - 1400hrs</p>
    </div>
  
  </div>

  <div class="right">
    <div class="subright"><div class="appt">
      <p>Appointment with Ligue Esq.</p>
    </div>
    <div class="location">
      <p>Location: Novena Starbucks</p>
    </div>
  </div>

  </div>
</div>



