<div class="body-container">
  <mat-card>
    <h2>How can we assist you today?</h2>
    <div style="width: 70%;">
      <app-option
        (click)="selectOption(0)"
        [active]="selectedOption === 0"
        [buttonText]="'Looking at my cases'"
        *ngIf="!accountService.isClient"
      ></app-option>
      <app-option
        (click)="selectOption(0)"
        [active]="selectedOption === 0"
        [buttonText]="'Looking for a lawyer'"
        *ngIf="accountService.isClient"
      ></app-option>
      <app-option
        (click)="selectOption(1)"
        [active]="selectedOption === 1"
        [buttonText]="'Check my scheduled meetings'"
      ></app-option>
    </div>
    <button mat-raised-button disabled="false" (click)="navigate()">
      Next
    </button>
  </mat-card>
</div>